---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import Fv from '../../components/section/Fv.astro';
import Image from 'astro/components/Image.astro';
import { newtClient } from "../../lib/newt";
import type { WorksItemType } from '../../types';

export const getStaticPaths = async () => {
    const {items: worksList} = await newtClient.getContents<WorksItemType>({
        appUid: 'sps',
        modelUid: 'works',
        query: {
            // limit: 5,
            // select: ['_id' ,'title', 'label', 'content', '_sys.updatedAt'],
            // content: {
            //     fmt: 'text',
            // }
        },
    });
    return worksList.map((work) => ({
        params: { id: work._id },
        props: {work},
    }));
};

const {work} = Astro.props;
console.log(work);


const detailInformation = [
    {
        title: "業種",
        description: work.industry
    },
    {
        title: "従業員数",
        description: work.numberOfEmployees
    },
    {
        title: "課題",
        description: work.issue
    },
]

const articleInfos = [
    {
        title: "導入前の課題",
        oroginTitle: work.beforeIntroduction.title,
        description: work.beforeIntroduction.description,
        image: {
            src: work.beforeIntroduction.image.src,
            alt: work.beforeIntroduction.image.altText,
            width: work.beforeIntroduction.image.width,
            height: work.beforeIntroduction.image.height
        }
    },
    {
        title: "新庄プロダクトサービスを選んだ理由",
        oroginTitle: work.selectedReason.title,
        description: work.selectedReason.description,
        image: {
            src: work.selectedReason.image.src,
            alt: work.selectedReason.image.altText,
            width: work.selectedReason.image.width,
            height: work.selectedReason.image.height
        }
    },
        {
        title: "導入後の成果・効果",
        oroginTitle: work.afterIntroduction.title,
        description: work.afterIntroduction.description,
        image: {
            src: work.afterIntroduction.image.src,
            alt: work.afterIntroduction.image.altText,
            width: work.afterIntroduction.image.width,
            height: work.afterIntroduction.image.height
        }
    },
]
---

<Layout title="works">
    <main class="md:px-[1.6rem]">
        <!-- FV -->
        <div class="
            flex flex-col gap-28 w-defaultLayout m-auto mt-64
            md:w-full md:mt-40
        ">
            <Breadcrumb
                lists={[
                    { name: "ホーム", path: "/" },
                    { name: "実績", path: "/works" },
                    { name: work.title }
                ]}
            />
            <div class="
                w-mdLayout m-auto mb-24 pb-24 border-b border-lineGray
                md:w-full md:mb-16 md:pb-16
            ">
                <div class="
                    w-smLayout m-auto
                    md:w-full
                ">
                    <h1 class="
                        mb-16 text-[3.6rem] font-mincho
                        md:mb-8 md:text-[2.4rem]
                    ">
                        {work.title}
                    </h1>
                    <div class="
                        grid grid-cols-[auto_1fr] gap-16
                        md:grid-cols-1 md:gap-8
                    ">
                        <Image src={work.thumbnail.src} alt={work.thumbnail.altText} width={work.thumbnail.width} height={work.thumbnail.height} class="w-[28rem] md:w-full" />
                        <div class="
                            w-full py-6
                            md:py-0
                        ">
                            <div class="flex gap-3 w-fit px-5 py-3 border border-lineGray rounded-full">
                                <Image src={work.client.logo.src} alt={work.client.logo.altText} width={work.client.logo.width} height={work.client.logo.height} class="w-[2.6rem] h-auto" />
                                <span class="text-[1.3rem]">
                                    {work.client.name}
                                </span>
                            </div>
                            <div class="flex flex-col gap-4 w-fit mt-10">
                                {detailInformation.map((item) => (
                                    <dl class="grid grid-cols-[6rem_1fr] gap-8">
                                        <dt class="text-[1.3rem] text-gray">{item.title}</dt>
                                        <dd class="text-[1.3rem]">{item.description}</dd>
                                    </dl>
                                ))}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <article class="
            w-smLayout m-auto mb-64
            md:w-full md:mb-40
        ">
            <p class="
                text-defaultText
                md:text-spDefaultText
            ">
                {work.description}
            </p>
            <ul class="
                flex flex-col gap-24 mt-32
                md:gap-16 md:mt-24
            ">
                {articleInfos.map((item, index) => (
                    <li class="
                        px-12 pb-16 border-b border-lineGray last:border-b-0
                        md:px-0 md:pb-0 md:border-0
                    ">
                        <div class="">
                            <h2 class="
                                text-[1.3rem] text-gray
                                md:text-[1.2rem]
                            ">{item.title}</h2>
                            <h3 class="
                                mt-6 mb-12 text-[2.4rem] font-mincho leading-relaxed
                                md:mt-4 md:mb-8 md:text-[1.8rem]
                            ">{item.oroginTitle}</h3>
                        </div>
                        <Image src={item.image.src} alt={item.image.alt} width={item.image.width} height={item.image.height} class="w-full aspect-[1.618]" />
                        <p class="
                            mt-10 text-defaultText
                            md:mt-6 md:text-spDefaultText
                        ">{item.description}</p>
                    </li>
                ))}
            </ul>
        </article>
    </main>
</Layout>