---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import Fv from "../../components/section/Fv.astro";
import NewsItem from "../../components/news/NewsItem.astro";
import { newtClient } from "../../lib/newt";
import type { NewsItemType } from "../../types";
import type { GetStaticPathsOptions } from "astro";
import Pagination from "../../components/section/Pagination.astro";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const { items: newsItems } = await newtClient.getContents<NewsItemType>({
    appUid: "sps",
    modelUid: "news",
    query: {
      // limit: 2,
      // skip: 0,
      select: ["_id", "title", "label", "content", "_sys.updatedAt"],
      content: {
        fmt: "text",
      },
    },
  });
  return paginate(newsItems, { pageSize: 10 });
};

const { page } = Astro.props;
const pageProps = { page };

const newsList = page.data;
---

<Layout title="news">
  <main class="mb-40">
    <!-- FV -->
    <div
      class="flex flex-col gap-16 mt-40 px-20
            md:w-full md:gap-16 md:mt-40"
    >
      <Breadcrumb
        lists={[{ name: "ホーム", path: "/" }, { name: "お知らせ" }]}
      />
      <Fv
        titleEn="News"
        titleJa="お知らせ"
        description="もしあればここにそれを説明するテキストが入ってきますからね。入れるようにしておきましょうね。まあ何が入ってくるのかは全然わからないのですけれども、あればいいですね。"
      />
    </div>
    <!-- MAIN -->
    <div
      class="mt-16 mx-20 px-20
            md:w-full md:mt-0 md:mb-40 md:px-[1.6rem]"
    >
      <ul class="">
        {
          newsList.map(newsItem => {
            return (
              <li class="">
                <NewsItem
                  id={newsItem._id}
                  updatedAt={newsItem._sys.updatedAt}
                  title={newsItem.title}
                  label={newsItem.label}
                  content={newsItem.content}
                />
              </li>
            );
          })
        }
      </ul>
      <Pagination pageType="news" pageProps={pageProps} />
    </div>
  </main>
</Layout>
