---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import Image from 'astro/components/Image.astro';
import { newtClient } from "../../lib/newt";
import type { NewsItemType } from "../../types";

export const getStaticPaths = async () => {
    const {items: newsList} = await newtClient.getContents<NewsItemType>({
        appUid: 'sps',
        modelUid: 'news',
        query: {
            limit: 5,
            select: ['_id' ,'title', 'label', 'content', '_sys.updatedAt'],
            content: {
                fmt: 'text',
            }
        },
    });
    return newsList.map((news) => ({
        params: { id: news._id },
        props: {news},
    }));
};

const { news } = Astro.props;
console.log("news", news);

---

<Layout title="works">
    <main>
        <div class="
            flex flex-col gap-28 w-defaultLayout m-auto mt-64
            md:gap-16 md:w-full md:mt-40
        ">
            <Breadcrumb
                lists={[
                    { name: "ホーム", path: "/" },
                    { name: "お知らせ", path: "/news" },
                    { name: news.title }
                ]}
            />
            <div class="
                w-smLayout m-auto mb-64
                md:w-full md:mb-40 md:px-[1.6rem]
            ">
                <div class="">
                    <div class="flex gap-10 mb-8 items-center">
                        <time 
                            datetime="2024-01-01" 
                            class="
                                text-[1.6rem] text-gray font-urbanist
                                md:text-[1.4rem]
                            "
                        >
                            {news._sys.updatedAt}
                        </time>
                        <span class="
                            inline-flex justify-center px-4 py-2 text-[1.2rem] leading-tight text-key border border-key rounded-md bg-key bg-opacity-10
                            md:text-[1.1rem]
                        ">
                            {news.label}
                        </span>
                    </div>
                    <h1 class="
                        mb-16 text-[3.2rem] font-mincho leading-relaxed
                        md:text-[2.4rem]
                    ">
                        {news.title}
                    </h1>
                </div>
                <article class="
                    mt-24
                    md:mt-10
                ">
                    {news.content}
                    <!-- <h2 class="
                        mb-12 text-[2.2rem] font-normal
                        md:mb-8 md:text-[1.8rem]
                    ">
                        こんなニュースさ
                    </h2>
                    <p class="
                        mb-10 text-defaultText
                        md:mb-6 md:text-spDefaultText
                    ">
                        ここにはいい感じのニュースが入ってくる想定なんですよ。<br>
                        一体何が入ってくるのでしょうか？<br>
                        私には皆目見当がつきませんが。<br>
                        いいニュースだといいですね。<br>
                        それともブログも必要だったりするのかしら。<br>
                        それは後々やっていこうかしらね。<br>
                        この両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますか
                    </p>
                    <p class="
                        text-defaultText
                        md:text-spDefaultText
                    ">
                        ここにはいい感じのニュースが入ってくる想定なんですよ。<br>
                        一体何が入ってくるのでしょうか？<br>
                        私には皆目見当がつきませんが。<br>
                        いいニュースだといいですね。<br>
                        それともブログも必要だったりするのかしら。<br>
                        それは後々やっていこうかしらね。<br>
                        この両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますかこの両分もいけますか
                    </p> -->
                </article>
            </div>
        </div>
    </main>
</Layout>